# Node
node_modules/

# Segredos e ambiente
.env
*.pem

# Terraform (o .terraform.lock.hcl DEVE ser versionado)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
backend.hcl
crash.log

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Planos e variações de state/env
*.tfplan
*.tfstate.*
.env.*
!.env.example
tfplan
